HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/backend/vinyl-exchange/uploads/**
/backend/vinyl-exchange/.env
backend/vinyl-exchange/src/main/resources/application.properties
frontend/vinylExchange/.flowbite-react
backend/vinyl-exchange/.mvn/
.env


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
